


body{
    background-image: url("https://media.istockphoto.com/id/546019814/vector/sun-after-rain.jpg?s=612x612&w=0&k=20&c=Z04eqsF9QBgO26pktP7E7_3dO9FqbMVYf9_cSHnsx2o=");

  background-repeat: no-repeat;
  background-size: cover;
  
}


@media screen and (max-width:600px) {
  




}